body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}
.admin{
    padding: 5px;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
}
.container{
    padding: 20px;
    border: solid red 5px;
}
.titulo-pagina{
    color: blueviolet;
    margin-top: 30px;
}

.logo{
    padding: 10px;
    justify-self: center;
}
.logo-img{
    width: 150px;
    height: 25px;
}

.menu-background{
    background-color: red;
}
.menu-superior{
    background-color: red;
    padding: 10px;
    justify-self: center;
}
.tabela-inicio{
    display: flex;
    padding: 10px;
    flex-direction: row;
}
.card, a, button{
    transition: all 0.7s ease-in-out;
}
.card{
    padding: 10px;
    border: solid red;
    border-width: 2px;
    border-radius: 10px;
}
.card:hover{
    background-color: #ff00008b;
    transform: translateY(-10px);
    border-color: red;
    box-shadow: 0 10px 20px rgba(red, green, blue, alpha);
}
.button-action{
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    transition: 0.1s;
}
.button-action:hover{
    background-color: green;
    color: white;
    transform: scale(1.1);
}


.matriculese{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.matriculese-button{
    width: 800px;
    height: 100px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    justify-content: center;

    animation-name: matricula-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.matriculese-button:hover{
    background-color: darkred;
    transform: scale(1.1);
}
.button-matriculese{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 50px;
    cursor: pointer;

    animation-name: button-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@keyframes matricula-pulse{
    0%{
        background-color: #740000;
        color: white;
        box-shadow: 0 0 0px red;
        transform: scale(1);
    }
    50%{
        background-color: red;
        box-shadow: 0 0 40px red;
        transform: scale(1.1);
    }
    100%{
        background-color: #740000;
        box-shadow: 0 0 0px red;
        transform: scale(1);
    }
}
@keyframes button-pulse{
    0%{
        color: white;
        transform: scale(1);
    }
    50%{
        color: yellow;
        transform: scale(1.5);
    }
    100%{
        color: white;
        transform: scale(1);
    }
}