body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: grid;
}
.container{
    justify-items: center;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 5px black;
    
}
input{
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: inset 0 0 3px black;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 13px;
    font-weight: bold;
    background-color:turquoise;
}
button:hover{
    background-color: cadetblue;
    color: white;
}
#resultado, #resultado-impares{
    font-size: 20px;
    
}
.destaque-index{
    color: greenyellow;
    text-shadow: 0 0 5px green;
    font-weight: bold;
}
.destaque-index-impar{
    color: red;
    text-shadow: 0 0 3px #ff4757;
    font-weight: bold;
}