body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.img-logo{
    width: 200px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 100%;
}
.background-header{
    background: linear-gradient( #75ffff 90%, white);
    background-color: #75ffff;
    padding-bottom: 50px;
}
.inicial-page{
    background-color: #87cfeb94;
    box-shadow: 2px 2px 5px 1px black;
    text-align: justify;
    text-shadow: 1px 1px 1px green;
    border-radius: 10%;
    padding: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 50px;
    width: max-content;
}
.inicial-description{
    max-width: 500px;
}
.petshop-description{
    text-indent: 10%;
}
.inicial-img{
    padding-left: 50px;
}
.local-button{
    justify-self: center;
}
.inicial-button{
    justify-self: center;
    background-color: #aaff00;
    color: blueviolet;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px teal;
    font-size: 20px;
    border: solid;
    border-radius: 45%;
    width: max-content;
    height: 60px;
}
.inicial-button:hover{
    background-color: yellow;
    color: violet;
    text-shadow: 2px 2px 2px blue;
    border: 4px solid;
}

.intro-page{
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-container{
    background-color: #ffe8c6a2;
    width: 900px;
    height: 400px;
    box-shadow: 2px 2px 5px 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-items: end;
}
.card-container-alt{
    background-color: #ffe8c6a2;
    width: 900px;
    height: 400px;
    box-shadow: 2px 2px 5px 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-items: end;
    justify-self: end;
}
.card-description{
    text-align: justify;
    text-shadow: 1px 1px 1px violet;
    font-size: 18px;
    padding: 20px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 450px;
    height: 300px;
    padding: 20px;        
    border-radius: 100px;
}


.mid-page{
    background: linear-gradient(white, #b6ff23 20%);
    background-color: #b6ff23;
    padding-left: 30px;
    padding-top: 20px;
}
.contatos-container{
    display: flex;
    gap: 50px;
    justify-self: center;
}
.contatos{
    align-self: center;
    width: 500px;
}
.map-container  {
    justify-self: center;
    box-shadow: 2px 2px 5px 1px black;
}