.background-div{
    padding: 20px;
    width: 150px;
    background-color: rgb(46, 46, 46);
    border-radius: 100px;
    justify-self: center;
}
.giroflex{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
    margin: 30px auto; /* Centraliza a Div de bloco*/
    border: 4px solid yellow;

    /* Configurando Animacao*/
    animation-name: alerta-giro;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes alerta-giro{
    0%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
    50%{
        background-color: red;
        box-shadow: 0 0 40px red;
        transform: scale(1.1);
    }
    100%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
}






.giroflex2{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
    margin: 30px auto; /* Centraliza a Div de bloco*/
    border: 4px solid yellow;

    /* Configurando Animacao*/
    animation-name: alerta-giro2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes alerta-giro2{
    0%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
    50%{
        background-color: yellow;
        box-shadow: 0 0 40px yellow;
        transform: scale(1.1);
    }
    100%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
}





.giroflex3{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
    margin: 30px auto; /* Centraliza a Div de bloco*/
    border: 4px solid yellow;

    /* Configurando Animacao*/
    animation-name: alerta-giro3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes alerta-giro3{
    0%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
    50%{
        background-color: #2fff39;
        box-shadow: 0 0 40px #2fff39;
        transform: scale(1.1);
    }
    100%{
        background-color: gray;
        box-shadow: 0 0 0px black;
    }
}



.giroflex4{
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 50%;
    margin: 30px auto; /* Centraliza a Div de bloco*/
    border: 4px solid yellow;

    /* Configurando Animacao*/
    animation-name: alerta-giro4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes alerta-giro4{
    0%{
        background-color: #2fff39;
        box-shadow: 0 0 0px #2fff39;
    }
    50%{
        background-color: red;
        box-shadow: 0 0 40px red;
        transform: scale(10.1);
    }
    100%{
        background-color: #2fff39;
        box-shadow: 0 0 0px #2fff39;
    }
}