.title-pagina{
    text-shadow: green 2px 2px 4px;
    font-size: 40px;
    margin: 0;
    color: black;
}
.sub-title{
    font-size: 20px;
    margin: 0;
    color: black;
}
body{
    background-color: rgb(183, 255, 231);
}
.header{
    text-shadow: 1px 1px 2px white;
    background-color: #7abaff;
    height: 100px;
    padding: 10px;
    border-radius: 100px;
    border-width: 10px;
    border-top: 5px solid #5aaaff;
    border-left: 5px solid #5aaaff;
    border-right: 5px solid #9dceff;
    border-bottom: 5px solid #9dceff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topicos-emergencia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card-emergencia{
    background-color: rgb(172, 255, 176);
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
.imagem-emergencia{
    width: 300px;
    height: 300px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.botao-info{
    background-color: rgb(202, 88, 88);
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lista-contatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card-contato{
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    color: black;
    background-color: rgba(255, 0, 0, 0.61);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    padding: 3px;
}