body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: all 0.3s ease-in-out;
}
label{
    display: inline-block;
    width: 250px;
}
input[type="text"],input[type="email"], input[type="password"]{
    justify-self: end;
    width: 200px;
}

.titulo-pagina{
    color: blueviolet;
    margin-top: 30px;
}

.logo{
    padding: 10px;
    justify-self: center;
}
.logo-img{
    width: 150px;
    height: 25px;
}

.menu-background{
    background-color: red;
}
.navbar{
    background-color: red;
    padding: 10px;
    justify-self: center;
}
.tabela-inicio{
    display: flex;
    flex-direction: row;
}


.container-principal{
    padding: 50px;
    border: solid red 5px;
}
.formulario{
    width: max-content;
    padding: 20px;
    border: solid black 5px;
    justify-self: center;
}


.login{
    justify-self: center;
}
.login-validation{
    justify-content: center;
    padding: 10px;
}
.validation{
    justify-self: center;
    text-align: center;
}
.campo-login{
    padding: 5px;
}
.entrar-button{
    background-color: red;
    color: white;
    text-align: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}
.entrar-button:hover{
    background-color: rgb(255, 89, 89);
    color: black;
    border: solid black 2px;
    transform: scale(1.1);
    cursor: pointer;
}
.esqueci-senha{
    color: blue;
}
.esqueci-senha:hover{
    text-decoration: underline;
}

.area-admin{
    width: 1100px;
}
.conteudo{
    border:solid black 2px;
    padding: 10px;
}